"*":
  welcome:
    showOnStartup: false
  minimap:
    plugins:
      "git-diff": true
      "find-and-replace": true
  editor:
    invisibles: {}
    fontFamily: "Source Code Pro"
    lineHeight: 1.425
    showIndentGuide: true
    fontSize: 12
  "linter-flake8":
    executablePath: "/usr/local/bin/flake8"
  react: {}
  core:
    themes: [
      "one-dark-ui"
      "monokai"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.pyc"
      "__pycache__"
    ]
    disabledPackages: [
      "wrap-guide"
    ]
    projectHome: "/Users/Manos/Projects"
  "file-icons":
    onChanges: true
  jshint:
    onlyConfig: true
    supportLintingJsx: true
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
