"*":
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "monokai"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.pyc"
      "__pycache__"
    ]
    disabledPackages: [
      "wrap-guide"
    ]
    projectHome: "/Users/Manos/Projects"
  editor:
    invisibles:
      {}
    fontFamily: "Source Code Pro"
    lineHeight: 1.425
    showIndentGuide: true
    fontSize: 12
  linter:
    ignoredLinterErrors: [
      "flake8"
    ]
  "linter-csslint":
    {}
  "one-dark-ui":
    layoutMode: "Compact"
  pigments:
    mergeColorDuplicates: true
  tabs:
    showIcons: true
  minimap:
    plugins:
      "git-diff": true
      "find-and-replace": true
  "linter-jshint":
    {}
  jshint:
    supportLintingJsx: true
  "linter-jsxhint":
    {}
  react:
    {}
  "symbols-tree-view":
    autoToggle: true
  "git-projects":
    rootPath: "/Users/Manos/Projects"
